from turtle import Turtle

me = Turtle()
me.speed(100)
me.penup()
me.backward(80)
me.left(90)
me.forward(150)
me.pendown()
me.color("red")
me.backward(60)
me.forward(30)
me.right(90)
me.forward(26)
me.left(90)
me.forward(30)
me.backward(60)

me.right(90)
me.penup()
me.forward(20)
me.left(75)
me.color("blue")
me.pendown()
me.forward(60)
me.right(150)
me.forward(60)
me.backward(25)
me.right(105)
me.forward(20)
me.left(180)

me.penup()
me.forward(50)
me.left(90)
me.pendown()
me.color("green")
me.forward(30)
me.backward(56)
me.forward(56)
me.right(90)
me.forward(23)
me.right(90)
me.forward(23)
me.right(90)
me.forward(23)
me.penup()
me.backward(40)

me.color("red")
me.pendown()
me.right(90)
me.forward(23)
me.backward(56)
me.forward(56)
me.right(90)
me.forward(23)
me.right(90)
me.forward(23)
me.right(90)
me.forward(23)
me.speed(10)

me.right(180)
me.forward(23)
me.penup()
me.right(90)
me.forward(35)
me.left(90)
me.forward(27)
me.left(90)
me.color("blue")
me.pendown()
me.forward(30)
me.left(27)
me.forward(30)
me.backward(30)
me.right(27)
me.right(27)
me.forward(30)
me.backward(30)
me.left(27)
me.backward(30)

me.penup()
me.speed(0)
me.goto(-195,60)
me.speed(10)

me.color("green")
me.pendown()
me.right(90)
me.forward(27)
me.backward(27)
me.right(90)
me.forward(60)
me.left(90)
me.forward(27)
me.penup()


me.color("red")
me.forward(20)
me.left(90)
me.pendown()
me.forward(60)
me.backward(30)
me.right(90)
me.forward(26)
me.left(90)
me.forward(30)
me.backward(60)

me.color("blue")
me.penup()
me.right(90)
me.forward(26)
me.left(90)
me.pendown()
me.forward(60)
me.backward(15)
me.penup()
me.right(90)
me.backward(10)
me.speed(100)
me.pendown()
me.right(100)
me.circle(15)
me.left(10)
me.begin_fill()
me.color("white")
me.forward(30)
me.left(90)


me.forward(8)
me.left(90)
me.forward(60)
me.left(90)
me.forward(8)
me.left(90)
me.forward(30)
me.color("white")
me.end_fill()
me.color("blue")
me.penup()
me.left(90)
me.forward(21)
me.right(90)
me.forward(14)
me.left(25)
me.pendown()
me.forward(35)
me.penup()
me.right(295)
me.forward(20)
me.pendown()

me.color("green")
me.left(90)
me.forward(60)
me.backward(60)
me.penup()
me.right(90)
me.forward(20)

me.color("red")
me.pendown()
me.forward(30)
me.left(90)
me.forward(30)
me.left(90)
me.forward(30)
me.right(90)
me.forward(30)
me.right(90)
me.forward(30)

me.penup()
me.right(90)
me.forward(60)
me.left(90)
me.forward(35)

me.color("blue")
me.pendown()
me.left(90)
me.forward(60)
me.right(90)
me.forward(20)
me.backward(40)

me.penup()
me.forward(40)
me.right(90)
me.forward(60)
me.left(90)
me.forward(18)

me.color("green")
me.left(90)
me.pendown()
me.forward(60)
me.right(150)
me.forward(45)
me.left(150)
me.right(30)
me.forward(45)
me.right(150)
me.forward(60)

me.penup()
me.left(90)
me.forward(20)
me.left(75)

me.speed(10)
me.pendown()
me.color("red")

me.forward(60)
me.right(150)
me.forward(60)
me.backward(25)
me.right(105)
me.forward(20)
me.left(180)

me.penup()
me.right(90)
me.forward(25)
me.left(90)
me.forward(37)

me.pendown()

me.forward(20)
me.left(90)
me.forward(20)
me.left(90)
me.forward(20)
me.right(90)
me.forward(20)
me.right(90)
me.forward(20)


















